@charset "utf-8";
/* CSS Document */
div#contain_ques{
	width:1200px;
	height:1024px;
	border:rgb(197,197,197);
}

.standard_font{
	float:right;
	width:700px;
	height:30px;
	color:rgb(75,75,75);
	font-family:"Comic Sans MS", cursive;
	font-size:16px;
}


textarea.standard_font{
	float:right;
	width:700px;
	height:30px;
	color:rgb(75,75,75);
	font-family:"Comic Sans MS", cursive;
	font-size:16px;
}

.standard_font_l{
	float:left;
	width:300px;
	height:30px;
	color:rgb(102,102,102);
	font-family:Calibri, Courier;
	font-size:24px;
}

div.left_right_left{
  float:inherit;	
  width:1000px;
}